<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>FOSDEM {% if not multiple_years %}{{ year }} {% endif %}videos</title>
    <meta name="description" content="Other way to check for FOSDEM videos. One searchable table with links to talks, slides and videos." />
    <meta name="keywords" content="fosdem video videos talk slides presentation speaker conference" />

    <meta property="og:title" content="FOSDEM videos table" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://marcin.juszkiewicz.com.pl/download/tables/fosdem/" />
    <meta property="og:description" content="FOSDEM videos table" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Marcin Juszkiewicz" />

{% include "common/datatables-js-css.inc.j2" %}
{% include "common/css.inc.j2" %}
<style>
ul#years li {
        display: inline-block;
        width: 8em;
        height: 3em;
}
</style>
</head>
<body>

<h1>FOSDEM {% if not multiple_years %}{{ year }} {% endif %}videos</h1>
    <p>This page provides alternative view for FOSDEM schedule. With direct links to slides and video files (where available).</p>

<h2>How to use</h2>
    <p>There are few features you can use:</p>

    <ul>
    <li>search field allows to filter table</li>
    <li>clicking on header entries sorts table</li>
    </ul>

{% include "common/author-tables-help.inc.j2" %}

<h2>Some stats</h2>
    <p>There are
    	<strong>{{ amount_talks }}</strong> talks in the table,
	<strong>{{ amount_slides }} ({{ (100 * amount_slides / amount_talks)|round|int }}%)</strong> have slides,
	<strong>{{ amount_videos }} ({{ (100 * amount_videos / amount_talks)|round|int }}%)</strong> have videos.
    </p>

<h2>Covered years</h2>
    <ul id="years">
    {% for y in years %}
         <li>
         {% if y != year or multiple_years %}
         <a href="{{ y }}.html">{{ y }}</a>
         {% else %}
         {{ y }}
         {% endif %}
         </li>
    {% endfor %}
        <li>
    {% if not multiple_years %}
         <a href="videoyears.html">
    {% endif %}
         All years with videos ({{ years[0] }}+)
    {% if not multiple_years %}
         </a>
    {% endif %}
         </li>

</ul>

<table id="infotable" class="display" style="width:100%">
    <thead>
        <tr>
            {% if multiple_years %}<th>Year</th>{% endif %}
            <th>Time</th>
            <th>Room</th>
            <th>Track</th>
            <th>Speaker(s)</th>
            <th>Title</th>
            <th>Slides</th>
            {% if show_webm %}
            <th>WebM video</th>
            {% endif %}
            {% if amount_videos > 0 and show_mp4 %}
            <th>MP4 video</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
{% for talk in talks %}
<tr>
{% if multiple_years %}<td>{{ talk.year }}</td>{% endif %}
<td>{{ talk.start }}</td>
<td>{{ talk.room }}</td>
<td>{{ talk.track }}</td>
<td>{{ talk.persons }}</td>
<td><a href="https://fosdem.org/{{ talk.year }}/schedule/event/{{ talk.slug }}{% if talk.year == 2012 %}.html{% endif %}">{{ talk.title }}</a></td>
<td>
{% if talk.slides %}
<a href="{{ talk.slides }}">Slides</a>
{% endif %}
</td>
{% if show_webm %}
<td>
{% if talk.webm %}
<a href="{{ talk.webm }}">WebM video</a>
{% endif %}
</td>
{% endif %}
{% if amount_videos > 0 and show_mp4 %}
<td>
{% if talk.mp4 %}
<a href="{{ talk.mp4 }}">MP4 video</a>
{% endif %}
</td>
{% endif %}

</tr>
{% endfor %}
    </tbody>
</table>
</body>
<script>
    new DataTable('#infotable', {
            pageLength:         -1,
            paging:             false,
            scrollX:            false,
            scrollCollapse:     false,
            order:              [[1, 'asc'], [0, 'asc']]
    });
</script>
</html>
